.ant-col-8{
    flex: 0 0 10%;
}
.ant-row{
    width: 60%;
    justify-content: center;
}
.title{
    margin-top: 15%;
    margin-bottom: 3%;
    font-size: 30px;
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
}
.ant-form{
    width: 90%;
}
.ant-form-item{
    display: flex;
    justify-content: center;
}
.ant-form-item-row{
    display: flex;
    justify-content: center;
}
.ant-col-offset-8{
    margin-left: 0 !important;
}
.ant-form-item-control-input-content {
    text-align: center;
}