#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}
  
.site-layout .site-layout-background {
    background: #fff;
}

.logo{
    height: 64px;
}

.trigger{
    height: 40px;
    width: 40px;
    font-size: 25px
}